head
  title dx-app
  link(rel="manifest" href="manifest.json")
  meta(name="mobile-web-app-capable" content="yes")
  link(rel="icon" sizes="192x192" href="logoDrop.png")
  meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")

template(name="layout")
  body
    +sidebar
    +main
    +yield "game"
    
template(name="splash")
  .splash
  
template(name="empty")

template(name="loader")
  .loading
    .message Loading, please wait...
    .spinner.fa.fa-spinner.fa-pulse.fa-3x

//Left side of app: qr scanner & badges    
template(name="sidebar")
  .sidebar
    +yield "splash"
    .qr(class="#{theme}")
      +qrScanner(facing="environment")
    .badges(class="#{theme}")
      with user
        .badge#performance(class="view#{perViews}")
        .badge#fashion(class="view#{fasViews}")
        .badge#nature(class="view#{natViews}")
        .badge#ethnography(class="view#{ethViews}")
      
//Right side of app: nav menu & content  
template(name="main")
  .content
    +nav
    .panes
      +yield "content"
//Animated nav menu  
template(name="nav")
  nav
    .line(class="#{theme}")
      .fill(class="#{theme}")
    .card#card1(num='0')
      .icon(class="#{theme}")
    .card#card2(num='1')
      .icon(class="#{theme}")
    .card#card3(num='2')
      .icon(class="#{theme}")
    .card#card4(num='3')
      .icon(class="#{theme}")
    .card#card5(num='4')
      .icon(class="#{theme}")
    .card#card6(num='5')
      .icon(class="#{theme}")
    .logo