template(name="game")
  div#game-canvas
  div#overlay
    if submitScore
        .scoreBack
    unless raceEnded
      .display
        .scoreCounter #{score}
        .stamina
          .ui.indicating.progress.active(data-percent="#{staminaPercent}")
            .bar(style="width: #{staminaPercent}%;")
              //.progress #{staminaPercent}%
          .label Stamina

        .time
          span.nums #{min}:#{sec}:#{tenth}
          .ui.gray.progress.tiny(data-percent="#{progress}")
            .bar(style="width: #{progress}%;")
            //.label progress
    
    .notifications
      if raceStarting
        .text Race starting in:
        .countdown #{cd}
      else if notStarted
        .text Tap to start the race!
      if raceEnded
        .text Good job! Your final score is
        .countdown #{finalScore}
        .text Tap to continue
      if submitScore
        .text Submit your score!
        .finalScore
          input.name.darkBox(type='text' value='Your Name')
          .countdown.darkBox #{finalScore}
        .button.submit.darkBox Submit!
          
    unless submitScore
      .controls
        .sprint.button Sprint
        .spacer
        .jump.button Jump
  
  +scores
      